.root{
    display: flex;
    width: 100%;
    position: relative;
}
.x-icon {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;
transition: opacity 0.2s ease-in, transform 0.2s ease-out;
    transform: scale(1);
    opacity: 0;
    cursor: pointer;
}
.root:hover .x-icon{
    opacity: 1;
    transform: scale(1);
    
}
.x-icon :hover{
    transform: scale(1.2);
}

.budget-item {
    display: flex;
    width: 100%;
    background-color: #f3f0f0;
    padding: 0.7rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-bottom: 1em;
    margin-right: 5px;
    align-items: center;
}
.description{
    display: flex;
    flex-grow: 1;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem;
    align-items: center;
}

.amount {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    
}

.expense {
    color: crimson;
}

.expense .amount{
    background-color: rgba(240, 100,100,0.5);
}

.income {
    color: rgb(144, 207, 56);
}

.income .amount{
    background-color: rgba(179, 211, 119, 0.5);
}